.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.button {
    border: 1px solid #626262;
    cursor: pointer;
    color: #141414;
    transition: all 0.3s ease 0s;
    padding: 16px 20px;
    background: #fff;
}

.button:hover {
    border: 1px solid #fff;
    color: #fff;
    background: #626262;
}

.main {
    padding-top: 80px;
}
